<!DOCTYPE html>
<html>
<head>
    <title><%= typeof title == 'undefined' ? 'Seek Dictionary' : title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/solar.css">
    <!--STYLES END-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body style="
    overflow: hidden;
    position: relative;
    width: 100%">

<div class="container" style="
    height: 80px;
    background: #424242;
">
    <div style="
    width: 970px;
    height: inherit;
    padding-top: 6px;
">
        <img src="/uploads/logo.png" style="object-fit:cover;width: 68px;height: 68px;"/>
        <span style="
    color: white;
    font-weight: bold;
    font-size: 36px;
    vertical-align: middle;
    padding-left: 10px;">SEEK Dictionary</span>
    </div>
</div>

<%- body %>

<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.min.js"></script>
<!--SCRIPTS END-->
</body>
</html>
